*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  height: 100vh;
  background: rgba(199, 199, 199);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
h1{
  font-size: 3rem;
  font-family: sans-serif;
}
svg{
  cursor: pointer;
}
